<html>

<head>
    <title>Security Systems</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <style>
        /* .ui.fixed.inverted.menu {
            background: steelblue;
        } */
        
        body {
            background: rgb(34, 193, 195);
            background: linear-gradient(0deg, rgb(59, 197, 199) 0%, rgba(248, 195, 82, 0.55) 98%);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>